<head data-th-fragment="head">
	<title>[[#{app.name}]]</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <!-- Bootstrap -->
	<link rel="stylesheet" data-th-href="@{/css/bootstrap.min.css}">
	<!-- Bootstrap Icons -->
	<link rel="stylesheet" data-th-href="@{/css/bootstrap-icons.min.css}">
	<!-- Bootstrap JS -->
	<script data-th-src="@{/js/bootstrap.bundle.min.js}" defer></script>
	<!-- App JS -->
	<script data-th-src="@{/js/app.js}" defer></script>
</head>