<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/head :: head}"></head>
<body class="d-flex flex-column min-vh-100">
	<header data-th-replace="~{fragments/header :: header}"></header>
	<main class="container-fluid">
		<div class="position-absolute top-50 start-50 translate-middle">
			<div class="card border-warning">
				<div class="card-header bg-warning fw-bold text-uppercase">[[#{error.h1}]]</div>
				<div class="card-body"><p class="card-text">[[#{error.message}]]</p></div>
			</div>
		</div>
	</main>
	<footer data-th-replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
